* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
} 

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpeg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: white;
    font-family: '';
    text-align: center;
}

div {
    height: 20%;
    padding: 8px;
}

img {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: 8px;
    padding: 2px;
    border-radius: 20px;
    border: solid 5px black;
}

h1 {
    font-size: 800%;
}

h2 {
    font-size: 400%;
}

p {
    font-size: 160%;
    font-weight: bold;
}

a {
    height: 4%;
}

button {
    border: none;
    padding: 8px;
    background-color: #274bae;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    margin: 4px;
}

.icons {
    height: 10%;
}

.icons img{
    border: none;
}