* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
} 

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpeg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: white;
    font-family: '';
}

img {
    height: 200px;
    width: 200px;
    margin: 8px;
    padding: 2px;
    border-radius: 20px;
    border: solid 5px black;
}

h1 {
    font-size: 200px;
}

h2 {
    font-size: 100px;
}

p {
    font-size: 40px;
    font-weight: bold;
}

button {
    border: none;
    height: 40px;
    padding: 10px;
    background-color: #274bae;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    margin: 5px;
}

.icons img{
    height: 50px;
    width: auto;
    border: none;
}